/* -------------------------------------------------- Common css codes */
.blue-section {
    background-color: var(--bgBlue);
}

.purple-section {
    background-color: var(--bgPurple);
}

.white-section {
    background-color: var(--bgWhite);
}

/* -------------------------------------------------- Root Variables*/
:root {
    --darkgrey: #545454;
    /* color: var(--darkgrey); */
    --bgWhite: white;
    /* color: var(--bgWhite); */
    --white: white;
    /* color: var(--white); */
    --black: #333;
    /* color: var(--black); */
    --bgPurple: #1C124D;
    /* color: var(--bgPurple); */
    --bgBlue: #009FDA;
    /* color: var(--bgBlue); */
    --blue: #009FDA;
    /* color: var(--blue); */
    --purple: #1C124D;
    /* color: var(--purple); */
    --orange: #E15500;
    /* color: var(--orange); */
    --yellow: #F9E300;
    /* color: var(--yellow); */
}

/* -------------------------------------------------- Body */
body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* -------------------------------------------------- Navbar Section */
.nav-link {
    color: var(--purple);
}

.nav-link {
    font-size: 24px;
    margin-left: 40px;
}

.nav-link:hover {
    opacity: 1;
    color: var(--orange);
}

.navbar-toggler:focus {
    box-shadow: unset;
}

/* To change the color of the navbar I used code from https://www.youtube.com/watch?v=45QSuJaHEss */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2828, 18, 77, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 3px solid var(--purple);
}

/* -------------------------------------------------- Hero Section */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 20px;
}

.hero-text h1 {
    margin-bottom: 20px;
}

.btn-enquiry {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: var(--purple);
    background-color: var(--yellow);
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.btn-enquiry:hover {
    background-color: var(--orange);
    color: var(--purple);
}

.hashtag {
    color: var(--yellow);
    font-size: 48px;
}

/* -------------------------------------------------- About Section */
.reasons {
    margin-top: 100px;
    margin-left: 0px;
}

#center-about {
    padding: 10px;
    width: 33%;
    margin-left: 50px;
}

#circle-container-about {
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 1px solid var(--orange);
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    height: 100%;
    border-radius: 50%;
    background: url("../images/reason.jpg") no-repeat center center
}

.big-heading {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 0;
    color: var(--blue);
}

.heading {
    font-size: 42px;
    font-weight: 900;
    color: var(--purple);
}

hr {
    border: 1px solid var(--orange);
}

.reason {
    color: var(--purple);
    margin-bottom: 40px;
}

/* -------------------------------------------------- Subject Section */
.card-title {
    color: var(--blue);
    margin: 20px;
    font-size: 30px;
}

.card-text {
    color: var(--purple);
}

#subject.card {
    margin-bottom: 40px;
}

.card {
    border-radius: 20px;
    border: var(--purple);
}


#subject1 p,
#subject2 p {
    margin-bottom: 20px;
}

/* --------------------------------------------------Testimonials Section */

.image {
    margin-top: 20px;
}

.testimonial {
    background-color: var(--blue);
    margin-top: 30px;
    border: 0px solid var(--blue);
    border-radius: 20px;
}

.title {
    color: var(--yellow);
    font-size: 30px;
    margin-top: 20px;
}

.text {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
}

#circle-container-testimonials {
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 1px solid var(--yellow);
    border-radius: 50%;
}

.testimonial .quote-right {
    margin-bottom: 30px;
}

.quote-right,
.quote-left {
    color: var(--yellow);
}

.testimonial p {
    color: var(--white);
    font-size: 14px;
    line-height: .5;
}

.testimonial .text {
    color: var(--purple);
}

.btn-enquiry-testimonial {
    margin-bottom: 30px;
}

/* -------------------------------------------------- Footer */
ul {
    padding-left: 0;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    color: var(--purple);
    padding-right: 3%;
    padding-left: 3%;
}

.social-networks {
    padding-top: 23px;
}

.social-networks i:hover {
    color: var(--orange);
}

.scroll-up-icon {
    color: var(--purple);
}

.scroll-up-icon:hover {
    color: var(--orange);
}

.scroll-up {
    font-size: 18px;
    padding-top: 3%;
    padding-bottom: 1%;
    font-weight: 100;
}

.copyright {
    font-size: small;
    margin-top: 40px;
}

/* --------------------------------------------------Media Quaries  */
@media screen and (max-width: 540px) {
    .reasons {
        margin-bottom: 60px;
        margin-top: 30px;
    }

    .copyright {
        font-size: 60%;
    }

    .hashtag {
        font-size: 36px;
    }

    .hero-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .big-heading {
        font-size: 38px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 1399px) {
    #center-about {
        margin-left: 0px;
    }

    .reasons {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 999px) {
    .center-about {
        margin-left: 60px;
    }
}